* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3F51B5;
  padding: 10px 20px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 150px;
  list-style-type: none;
  align-items: center; /* Center vertically */
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffe286;
}

.profile-image-container {
  position: relative;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 3px;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #C5CAE9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-item {
  /* background-color: #3F51B5; */
  font-weight:200;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

  /* .dropdown-item:hover {
    background-color: #3F51B5;
  } */

.profile-image-container:hover .dropdown-menu {
  display: block;
}